<div class="card">
  <div class="card-header">
    <h4>{{ emissionFactor.name }}</h4>
    <em>{{ emissionFactor.description }}</em
    ><br />
    <em><strong>Activity Id</strong>: {{ emissionFactor.activity_id }}</em
    ><br />
    <em
      ><strong>Emission Factor</strong>: {{ emissionFactor.name }} ({{
        emissionFactor.id
      }})</em
    ><br />
    <em
      ><strong>Source LCA Activity</strong>:
      {{ emissionFactor.source_lca_activity }}</em
    ><br />
    <em><strong>Unit Type</strong>: {{ emissionFactor.unit_type }}</em>
  </div>

  <div class="card-body">
    <h5>Estimate</h5>

    <div class="row" *ngIf="additionalParameter !== undefined">
      <div class="col">
        <em
          ><strong
            >{{ getFormattedString(additionalParameter.name) }}:</strong
          ></em
        >
        <div class="input-group" style="width: fit-content">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Value"
            [(ngModel)]="additionalParameter.value"
          />
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngFor="let unitValue of unitValues">
      <div class="input-group">
        <em
          ><strong>{{ getFormattedString(unitValue.name) }}:</strong></em
        >
      </div>
      <div class="col">
        <ng-select
          [items]="unitValue.dropdownUnits"
          placeholder="Select Unit"
          appendTo="body"
          [closeOnSelect]="true"
          [(ngModel)]="unitValue.selectedUnit"
        >
        </ng-select>
      </div>

      <div class="col">
        <input
          style="margin-left: 5px"
          type="number"
          class="form-control"
          placeholder="Enter Value"
          [(ngModel)]="unitValue.inputValue"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          class="btn btn-success"
          [disabled]="!estimateDataValid()"
          (click)="estimateEmissionFactor()"
        >
          Get Estimate
        </button>
      </div>

      <div class="col">

        <ng-container *ngIf="loading">
          <app-loader [text]="'Calculating...'"></app-loader>
        </ng-container>

        <ng-container *ngIf="!loading && estimate">

          <ng-container *ngIf="estimate.error !== undefined">
              <span class="error">
                <strong>Error: </strong>
                {{ estimate.error_message }}
              </span>
          </ng-container>

          <ng-container *ngIf="estimate.error === undefined">
            <h3>
              Co2 Estimate:
              <span class="estimate"
                >{{ estimate.co2e }} {{ estimate.co2e_unit }}</span
              >
            </h3>
            <strong><em>Calculation Method:</em></strong>
            {{ estimate.co2e_calculation_method }}<br />
            <strong><em>Origin:</em></strong> {{ estimate.co2e_calculation_origin }}
          </ng-container>

        </ng-container>


      </div>

    </div>
  </div>
</div>
