<div class="card">
  <div class="card-header">
    <h4>{{ searchResponseResult.name }}</h4>
    <em>{{ searchResponseResult.description }}</em
    ><br />
    <em><strong>Activity Id</strong>: {{ searchResponseResult.activity_id }}</em
    ><br />
    <em
      ><strong>Emission Factor</strong>: {{ searchResponseResult.name }} ({{
        searchResponseResult.id
      }})</em
    ><br />
    <em
      ><strong>Source LCA Activity</strong>:
      {{ searchResponseResult.source_lca_activity }}</em
    ><br />
    <em><strong>Unit Type</strong>: {{ searchResponseResult.unit_type }}</em>
  </div>

  <div class="card-body">
    <h5>Estimate</h5>
    <div class="row">
      <div class="col">
        <div *ngFor="let unitValue of unitValues">
          <div class="input-group mb-3" style="width: fit-content">
            <ng-select
              [items]="unitValue.dropdownUnits"
              placeholder="Select Unit"
              appendTo="body"
              [closeOnSelect]="true"
              [(ngModel)]="unitValue.selectedUnit"
            >
            </ng-select>

            <input
              style="margin-left: 5px;"
              type="number"
              class="form-control"
              placeholder="Enter Value"
              [(ngModel)]="unitValue.inputValue"
            />
          </div>

          {{ unitValue.inputValue }}

          {{ unitValue.selectedUnit }}

          <div class="input-group-append">
            <button class="btn btn-success" [disabled]="!unitValuesValid()">Get Estimate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
