div.saved-search {
  margin-top: 5px;
}

.div.search-response {
  display: block;
  border: 1px solid #020202;
  margin-top: 100px;
}

label {
  font-weight: bold;

  em {
    font-weight: normal;
    font-size: 12px;
    display: block;
  }
}

.row {
  margin-top: 10px;
}
