<h4>Search filters</h4>
<p>
  All filters must be populated to dispoay a list of activities to choose from
</p>

<em>Previous Searches:</em>
<div *ngFor="let savedSearch of savedSearches" class="saved-search">
  <button (click)="populateSavedSearch(savedSearch)" class="btn btn-primary">
    Use
  </button>
  &nbsp;
  <button (click)="deleteSavedSearch(savedSearch)" class="btn btn-danger">
    Delete
  </button>
  &nbsp; <strong>Region:</strong> {{ savedSearch.region }} |
  <strong>Year:</strong> {{ savedSearch.year }} | <strong>Sector</strong>
  {{ savedSearch.sector }} | <strong>Category</strong>
  {{ savedSearch.category }}
</div>

<div class="row">
  <div class="col">
    <label for="region"
      >Region
      <em
        >Filters emission factors by geographic region to which it applies.</em
      >
    </label>

    <ng-select
      #regionDropdown
      [items]="regionDropdownData"
      [(ngModel)]="selectedRegion"
      bindLabel="name"
      placeholder="Select Region"
      appendTo="body"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>

  <div class="col">
    <label for="year"
      >Year
      <em
        >Filters emission factors by the year in which the emission factor is
        considered most relevant, according to the source.</em
      >
    </label>
    <ng-select
      #yearDropDown
      [items]="yearsDropdownData"
      [(ngModel)]="selectedYear"
      bindLabel="name"
      placeholder="Select Year"
      appendTo="body"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
</div>

<div class="row">
  <div class="col">
    <label for="sector"
      >Sector
      <em>Filters by emission factor sector</em>
    </label>
    <ng-select
      #sectorDropdown
      [items]="sectorDropdownData"
      [(ngModel)]="selectedSector"
      bindLabel="name"
      placeholder="Select Sector"
      appendTo="body"
      [closeOnSelect]="true"
      (clear)="onSectorClear()"
      (change)="onSectorChange($event)"
    >
    </ng-select>
  </div>
  <div class="col">
    <label for="sector"
      >Category
      <em
        >Filters by emission factor category. This dropdown will change
        depending on what sector you choose</em
      >
    </label>
    <ng-select
      #categoryDropdown
      [items]="categoryDropdownData"
      [(ngModel)]="selectedCategory"
      bindLabel="name"
      placeholder="Select Category"
      appendTo="body"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!searchRequestValid()"
      (click)="onSubmit()"
    >
      Search Emission factors
    </button>
    &nbsp;
    <button class="btn btn-info" (click)="onClear()">Clear</button>

    &nbsp;
    <button
      *ngIf="showSaveSearchButton"
      class="btn btn-info"
      (click)="onSaveSearch()"
    >
      Save Search
    </button>
  </div>
</div>

<ng-container *ngIf="loading">
  <app-loader [text]="'Calculating...'"></app-loader>
</ng-container>

<ng-container *ngIf="!loading && searchResponseViewModel">

  <div style="margin-top: 10px">

    <ng-container *ngIf="searchResponseViewModel.error !== undefined">
      <span class="error">
        <strong>Error: </strong>
        {{ searchResponseViewModel.message }}
      </span>
    </ng-container>

    <ng-container *ngIf="searchResponseViewModel.error === undefined">
      <h4>Results</h4>
      <p *ngIf="searchResponseViewModel.results?.length === 0">
        No results to display
      </p>

      <div
        class="search-response accordion"
        *ngFor="let result of searchResponseViewModel.results"  >
        <app-climatiq-search-response-emission-factor [searchResponseResult]="result" [unitTypes]="unitTypes"></app-climatiq-search-response-emission-factor>
      </div>


    </ng-container>


  </div>


</ng-container>


