<html>
  <header>
    <img src="https://app.climatiq.io/_next/image?url=%2Flogo.png&w=256&q=75" />
  </header>
  <body>
    <div class="main">
      <p>First, give me some basic info</p>
      <form [formGroup]="basicInfoForm">
        <div class="row">
          <div class="col">
            <label for="region">Region</label>
            <ng-select
              [items]="regionDropdownData"
              bindLabel="name"
              placeholder="Select Region"
              appendTo="body"
              [closeOnSelect]="true"
              (change)="onRegionChange($event)"
            >
            </ng-select>
          </div>

          <div class="col">
            <label for="year">Year</label>
            <ng-select
              [items]="yearsDropdownData"
              bindLabel="name"
              placeholder="Select Year"
              appendTo="body"
              [closeOnSelect]="true"
              (change)="onYearChange($event)"
            >
            </ng-select>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <label for="sector">Sector</label>
            <ng-select
              [items]="sectorDropdownData"
              bindLabel="name"
              placeholder="Select Sector"
              appendTo="body"
              [closeOnSelect]="true"
              (change)="onSectorChange($event)"
            >
            </ng-select>
          </div>
          <div class="col">
            <label for="sector">Category</label>
            <ng-select
              [items]="categoryDropdownData"
              bindLabel="name"
              placeholder="Select Category"
              appendTo="body"
              [closeOnSelect]="true"
              (change)="onCategoryChange($event)"
            >
            </ng-select>
          </div>
        </div>

        {{ basicInfoViewModel.region }}
        {{ basicInfoViewModel.year }}
        {{ basicInfoViewModel.sector }}
        {{ basicInfoViewModel.category }}


        <div class="row" style="margin-top: 10px">
          <div class="col">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!basicFormValid()"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
