/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";


.error {
  color: red;
}

.green {
  color: rgb(63, 217, 63);
}

.grey {
  color: grey;
}

.m-t-5 {
  margin-top: 5px;
}
